@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Doto:wght@100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Playwrite+IT+Moderna:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


#footer > div a{
   color:gray;
}
@theme{
    --breakpoint-sm: 530px;
}
.buttonstyle{
    @apply px-3 py-1 rounded bg-blue-500 text-white cursor-pointer;
}

   input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }

    .flex-syle{
        @apply flex items-start gap-1.5 ;
    }

.sidebarbtton{
    @apply flex gap-2.5 hover:bg-blue-100 p-2 xl:px-6 items-center  cursor-pointer;
}

.cardStyle{
    @apply flex items-center justify-between gap-3 border border-gray-500 rounded p-2;
}
.inputStyle{
    @apply border border-gray-400 p-2 rounded outline-0 w-full;
}
.inputflex{
    @apply flex flex-col sm:flex-row gap-4 ;
}
.inputdiv{
    @apply flex flex-col w-full;
}
.tablerow{

}

th,td{
    @apply text-start sm:p-2.5 p-2
}
.scrollhiden::-webkit-scrollbar{
    display: none;
    width: 0;
}
.scrollStyle::-webkit-scrollbar{
    width: 5px;

}
.scrollStyle::-webkit-scrollbar-thumb{
    background:dodgerblue;
}
